<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<h1 align="center">Visual regression testing tool</h1>
<br><br>


<form action="{% url 'vrt:index' %}" method="post" id="form1">
    {% csrf_token %}
</form>

<div style="text-align: center;">
   <button type="submit" form="form1" value="Submit" style="height:60px;width:300px; font-face: 'Comic Sans MS'; font-size: larger;" >CREATE REPORT</button>
</div><br>

<table style="width:100%">
    <tr>
        <th>Date</th>
        <th>Snapshot before</th>
        <th>Snapshot after</th>
        <th>Snapshot result</th>
        <th>Comments</th>
    </tr>
    <tbody>
        {% for summary in list_summary %}

        <tr>
            <td>{{summary.date_test}}</td>
            <td><img src="{{ summary.snapshot_before }}" height="533" width="300"></td>
            <td><img src="{{ summary.snapshot_after }}" height="533" width="300"></td>
            <td><img src="{{ summary.snapshot_result }}" height="533" width="300"></td>
            <td>{{summary.comments}}</td>
        </tr>

        {% endfor%}

    </tbody>
</table>

</body>
</html>